img
{
    height: 22%;
    width: 78%;
    float: left;
    margin-bottom: 7%;
}

#main_image_div
{
    height: 85%;
    width: 60%;
    border-radius: 25px;
    border: 4px solid cadetblue;
    padding-top: 2%;
    padding-left: 3%;
    background-color: honeydew;
}

#Memory_title
{
    text-align: center;
    font-family: cursive;
    font-size: 40px;
    color: deeppink;
}
